# Example of the environment configuration file
# This file should be genenerated automatically with the "infamous" 5 minute installation

DbUrl = "http://neo4j:foobar@127.0.0.1:9290/db/data/"
HashCost = 10
JWTExpirationDelta = 72
PrivateKeyPath = "/ssl/privatekey.pem"
PublicKeyPath = "/ssl/publickey.pub"